<!-- GA Hit Count Post Views -->
<span id="post-meta-views" hidden>
    <span class="suka-devide-dot"></span>
    <span><%- theme.ga_hit_count.before %></span>
    <span id="pv-counter"></span>
    <span><%- theme.ga_hit_count.after %></span>
</span>
